.articles-nav {
    padding-top: 90px;
    display: flex;

    a {
        text-decoration: none;
        font-weight: 500;
        font-size: 15px;
        line-height: 121.4%;
        letter-spacing: 0.085em;
        text-transform: uppercase;
        color: #A90841;
        position: relative;

        &:first-child {
            padding-left: 47px;
        }

        &:last-child {
            padding-right: 47px;
        }
    }
}