.welcomescreen .swiper {
    width: 100%;
    height: 100%;
    z-index: initial;
}

.welcomescreen .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.welcomescreen .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-wrap {
    height: 100%;
    width: 100%;
    position: relative;

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: #000000;
        opacity: 0.5;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.welcomescreen {
    height: 100vh;
    position: relative;
    min-height: 600px;

    .welcomescreen__textbox {
        z-index: 3;
        position: absolute;
        top: 0;
        padding-top: 120px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        .subtitle {
            font-weight: bold;
            font-size: 22px;
            line-height: 101%;
            color: #fff;
            margin-bottom: 22px;
        }

        h1 {
            max-width: 726px;
            margin: 0 auto;
            color: #fff;
            font-size: 48px;
            line-height: 120%;
            font-family: 'Abril Fatface', cursive;
            margin-bottom: 86px;
            position: relative;

            span {
                margin-top: 20px;
                display: block;
                font-size: 36px;
                line-height: 120%;
            }

            &:after {
                content: '';
                display: block;
                height: 6px;
                width: 70px;
                position: absolute;
                bottom: -47px;
                left: 0;
                right: 0;
                margin: 0 auto;
                background: #A90841;
            }
        }

        .welcomescreen__list {
            list-style-type: none;
            padding: 0;
            margin: 0 0 45px 0;

            li {
                margin: 0 22px;
                color: #fff;
                font-weight: bold;
                font-size: 20px;
                line-height: 150%;
                display: inline-block;
                vertical-align: middle;
                position: relative;

                &:after {
                    content: '';
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background: #A90841;
                    right: -31px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }

        .redbtn {
            max-width: 294px;
            margin: 0 auto;
        }
    }

    .swiper-pagination-bullet {
        margin: 0 auto 21px !important;
        width: 10px;
        height: 10px;
        background: #FFFFFF;
        opacity: 0.4;
        transition: .5s;

        &:last-child {
            margin-bottom: 0 !important;
        }
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 20px;
        height: 20px;
        background: #A90841;
        opacity: 1;
    }

    &:after {
        content: '';
        display: inline-block;
        width: 2px;
        height: 132px;
        background: #A90841;
        bottom: -46px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 4;
    }

}

.welcomescreen__socials {
    z-index: 4;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 32px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #A90841;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        transition: .3s;

        &:hover {
            background: #c50d4e;
        }
    }
}

.welcomescreen .swiper-pagination-bullet {
    &:hover {
        opacity: 1;
    }
}

.welcomescreen__socials a {
    transition: .3s;

    &:hover {
        background: #c50d4e;
        animation: pulse1 2s infinite;
    }
}

.redbtn,
.footer__socials ul li a {
    transition: .3s;

    &:hover {
        background: #c50d4e;
        animation: pulse1 2s infinite;
    }
}

@-webkit-keyframes pulse1 {

    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(169, 8, 65, .5);
    }

    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(169, 8, 65, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(169, 8, 65, .5);
    }
}

@keyframes pulse1 {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(169, 8, 65, .5);
    }

    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(169, 8, 65, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(169, 8, 65, .5);
    }
}

header.header nav ul li a {
    position: relative;

    &:after {
        content: '';
        display: inline-block;
        height: 4px;
        width: 0;
        background-color: #A90841;
        position: absolute;
        bottom: -15px;
        left: 0;
        right: 0;
        margin: 0 auto;
        transition: .3s;
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }

}

footer.footer .footer__nav li a {
    transition: .3s;

    &:hover {
        text-decoration: none;
        color: #A90841;
    }
}

.showtablet {
    display: none;
}

.hamburger-slim {
    display: none;
}

.secials-mob {
    display: none;
}

#totop {
    position: fixed;
    display: inline-block;
    right: 200px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    background: url('../img/svg/totop.svg') no-repeat center;
    border: 2px solid #A90841;
    filter: drop-shadow(0px 4px 21px rgba(0, 0, 0, 0.11));
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: .5s;
    cursor: pointer;
}

#totop.show {
    display: inline-block;
    z-index: 4;
    opacity: 1;
    visibility: visible;
}


// update

.quote-section {
    padding: 124px 0 49px;
    background-color: #A90841;
    background-image: url('../img/dots-background.png');

    .descr {
        position: relative;
        text-align: center;
        color: #fff;
        font-size: 24px;
        line-height: 140%;
        font-family: 'Abril Fatface', cursive;
        margin-bottom: 52px;

        &:after,
        &:before {
            content: '';
            display: inline-block;
            width: 74px;
            height: 54px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
        }

        &:after {
            background: url('../img/quotepic1.png');
            left: -142px;
        }

        &:before {
            background: url('../img/quotepic2.png');
            right: -142px;
        }

        p {

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .author {
        color: #fff;
        margin: 0;
        font-style: italic;
        font-size: 20px;
        line-height: 140%;
        text-align: center;
        position: relative;

        &:after {
            content: '';
            display: inline-block;
            width: 70px;
            height: 6px;
            background: #fff;
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: -25px;
        }
    }
}

.reversepostblock {
    margin-bottom: 100px;

    &:last-child {
        margin-bottom: 0;
    }

    img {
        width: 100%;
    }

    .reversepostblock__wrapp {
        padding-left: 44px;
    }

    h4 {
        font-family: 'Abril Fatface', cursive;
        font-size: 48px;
        line-height: 121.4%;
        position: relative;
        margin-bottom: 56px;

        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            bottom: -31px;
            background: #A90841;
            width: 70px;
            height: 6px;
        }
    }

    .descr {
        max-width: 466px;
        margin-bottom: 50px;

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .redbtn {
        max-width: 294px;
    }
}

.reversepostblock:nth-child(even) {
    .row {
        flex-direction: row-reverse;
    }
}

.reviews {
    position: relative;

    .swiper-slide {
        width: 74%;
    }
}

.reviewbox {
    background-image: url('../img/dots-background.png');
    background-color: #F5F5F5;
    padding: 60px;

    .reviewbox__right {

        .descr {
            font-weight: bold;
            font-size: 20px;
            line-height: 140%;
            margin-bottom: 58px;
            height: 112px;
            overflow: hidden;

            p {
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        a {
            text-transform: uppercase;
            color: #A90841;
            letter-spacing: 0.085em;
            font-weight: 900;
            font-size: 16px;
            line-height: 150%;
        }
    }

    .review__bottsect {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .name {
            color: #4F4F4F;
            font-weight: 600;
            font-size: 15px;
            line-height: 120%;
        }

        a {
            color: #A90841;
            letter-spacing: 0.085em;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 16px;
            line-height: 150%;
        }
    }
}

.quote-section-img {
    padding: 150px 0 76px 0;
    position: relative;

    &:after {
        content: '';
        display: block;
        max-width: 804px;
        width: 100%;
        height: 324px;
        max-height: 100%;
        margin: 0 auto;
        background: radial-gradient(50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0) 100%);
        opacity: 0.9;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .description {
        color: #fff;
        text-align: center;
        font-size: 48px;
        line-height: 121.4%;
        font-family: 'Abril Fatface', cursive;
        margin-bottom: 54px;
        position: relative;
        z-index: 2;

        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 70px;
            height: 6px;
            background: #A90841;
            bottom: -30px;
        }

        p {
            margin-bottom: 0;
        }
    }

    .author {
        margin: 0;
        color: #fff;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
    }

    .descr-wrapp {
        position: relative;

        &:after,
        &:before {
            content: '';
            display: inline-block;
            width: 74px;
            height: 54px;
            position: absolute;
            top: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            top: 20%;
        }

        &:after {
            right: -140px;
            background: url('../img/quotepic2.png');
        }

        &:before {
            left: -140px;
            background: url('../img/quotepic1.png');
        }
    }

    .container {
        position: relative;
        z-index: 2;
    }


}

.hamburger-slim {
    display: none;
}




























.reviews {
    padding: 50px 0 164px;
}

.reversepostblocks {
    padding: 100px 0 50px;
}


// font-family: 'Abril Fatface', cursive;
// font-family: 'Lato', sans-serif;