@media(max-width:1900.8px) {
    #totop {
        right: 40px;
    }
}

@media(max-width:1600px) {
    body {
        font-size: 18px;
    }

    header.header {
        height: 100px;
    }

    .welcomescreen .welcomescreen__textbox h1 {
        margin-bottom: 60px;
        max-width: 650px;
    }

    .welcomescreen .welcomescreen__textbox h1:after {
        bottom: -39px;
    }

    .welcomescreen:after {
        height: 70px;
        bottom: -35px;
    }

    .section-title {
        margin-bottom: 30px;
    }

    #totop {
        right: 40px;
    }

    .firstsection {
        height: 400px;
    }

    .welcomescreen__socials ul li {
        margin-bottom: 22px;
    }

    .reversepostblock .descr {
        margin-bottom: 30px;
    }

    .quote-section {
        padding-top: 100px;
    }

    h3 {
        margin-bottom: 30px;
    }

    .quote-section-img {
        padding: 100px 0 70px 0;
        position: relative;
    }

    .reviews {
        padding-bottom: 100px;
    }






    .reversepostblock .redbtn {
        max-width: 260px;
        min-height: 56px;
    }

    .redbtn {
        font-size: 14px;
        min-height: 56px;
        max-width: 260px;
    }

    .welcomescreen .welcomescreen__textbox .welcomescreen__list li,
    .quote-section .author,
    .quote-section-img .author {
        font-size: 18px;
    }

    .welcomescreen .welcomescreen__textbox .subtitle {
        font-size: 20px;
    }

    .quote-section .descr {
        font-size: 22px;
    }

    .welcomescreen .welcomescreen__textbox h1 span {
        font-size: 24px;
    }

    .blog-item h5 {
        font-size: 32px;
    }

    .section-title,
    h3,
    .quote-section-img .description {
        font-size: 42px;
    }

    .welcomescreen .welcomescreen__textbox h1,
    .reversepostblock h4 {
        font-size: 42px;
    }

    .firstsection h1 {
        font-size: 46px;
    }



    // paddings
    // padding: 100px 0;

}

@media(max-width:1439.8px) {}

@media(max-width:1199.8px) {
    body {
        font-size: 16px;
    }

    .welcomescreen .welcomescreen__textbox h1 {
        font-size: 52px;
        max-width: 540px;
    }

    .welcomescreen .welcomescreen__textbox .subtitle {
        margin-bottom: 15px;
        font-size: 18px;
    }

    .welcomescreen .welcomescreen__textbox .welcomescreen__list {
        margin-bottom: 30px;

        li {
            font-size: 16px;
        }
    }

    .welcomescreen__socials ul li {
        margin-bottom: 20px;
    }

    .welcomescreen .swiper-pagination-bullet {
        margin: 0 auto 15px !important;
    }


    footer.footer .footer__nav li {
        margin-right: 35px;
    }

    .footer__logo img {
        max-width: 200px;
    }

    .blogsection .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .blogsection .row .col-md-6 {
        padding-right: 15px;
        padding-left: 15px;
    }

    .blog-item {
        margin-bottom: 30px;
        padding: 40px 50px 30px;
        height: 240px;
    }

    header.header nav ul li {
        margin-right: 30px;
    }















    .reversepostblock h4,
    .welcomescreen .welcomescreen__textbox h1,
    .quote-section-img .description,
    .section-title,
    h3 {
        font-size: 38px;
    }



    .blog-item h5 {
        font-size: 28px;
    }

    .quote-section .descr {
        font-size: 20px;
    }

    header.header nav ul li a {
        font-size: 18px;
    }

    footer.footer .footer__botsect a,
    footer.footer .footer__botsect p {
        font-size: 14px;
    }

    .blogsection {
        padding: 70px 0;
    }

}

@media(max-width:991.8px) {
    .welcomescreen .welcomescreen__textbox {
        padding-top: 100px;
    }

    header.header nav ul li {
        margin-right: 30px;
    }

    .welcomescreen .welcomescreen__textbox .subtitle {
        margin-bottom: 25px;
    }

    .welcomescreen .welcomescreen__textbox h1 {
        margin-bottom: 70px;
    }

    .showtablet {
        display: block;
    }

    footer.footer .footer__nav li {
        margin-right: 20px;
    }


    #totop {
        bottom: 100px;
    }

    .firstsection {
        height: 340px;
    }

    .firstsection {
        padding-top: 100px;
    }

    .blog-item {
        padding: 30px 30px 20px;
        height: 220px;

        h5 {
            font-size: 24px;
        }
    }

    .quote-section-img .descr-wrapp:before,
    .quote-section-img .descr-wrapp:after,
    .quote-section .descr:after,
    .quote-section .descr:before {
        display: none;
    }

    .hamburger-slim {
        display: inline-block;
        cursor: pointer;
    }

    .hamburger-slim {
        width: 40px;
        height: 20px;
    }

    .hamburger-slim:after,
    .hamburger-slim:before {
        width: 40px;
        height: 3px;
    }

    .hamburger-slim:before {
        box-shadow: #f69b31 0 9px 0 0;
    }

    .hamburger-slim {
        background: transparent;
        margin: 0;
        position: relative;
        height: 26px;
        width: 48px;
        right: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &:before,
        &:after {
            background: #fff;
            backface-visibility: hidden;
            content: "";
            height: 4px;
            left: 0;
            transition: 0.75s;
            width: 48px;
        }

        &:before {
            box-shadow: #fff 0 12px 0 0;
            position: absolute;
            top: 0;
        }

        &:after {
            position: absolute;
            top: calc(100% - 2px);
        }

        &.active {

            &:before {
                box-shadow: transparent 0 0 0 0;
                top: 50%;
                transform: rotate(225deg);
            }

            &:after {
                top: 50%;
                transform: rotate(315deg);
            }
        }
    }

    header.header nav {
        display: none;
    }

    header.header .container {
        position: relative;
    }

    .welcomescreen__socials,
    .welcomescreen .swiper-pagination {
        display: none;
    }

    .welcomescreen .welcomescreen__textbox h1 {
        max-width: 100%;
    }

    .reversepostblock .reversepostblock__wrapp {
        padding-left: 0;
    }

    .row.gap40 {
        margin-left: -15px;
        margin-right: -15px;
    }

    .row.gap40 [class*=" col-"],
    .row.gap40 [class^=col-] {
        padding-left: 15px;
        padding-right: 15px;
    }

    .reversepostblock h4 {
        margin-bottom: 40px;

        &:after {
            bottom: -23px;
        }
    }

    .reversepostblock .redbtn {
        max-width: 230px;
        min-height: 50px;
    }

    .reversepostblock {
        margin-bottom: 70px;
    }

    .footer__nav {
        display: none;
    }










    .quote-section,
    .reversepostblocks {
        padding-top: 70px;
    }

    .welcomescreen .welcomescreen__textbox h1 {
        font-size: 42px;
    }

    .section-title,
    .reversepostblock h4,
    .quote-section-img .description {
        font-size: 32px;
    }

    .firstsection h1 {
        font-size: 42px;
    }
}

@media(max-width:767.8px) {
    .welcomescreen .welcomescreen__textbox {
        padding-top: 80px;
    }

    .infosect .textwrapper p {
        max-width: 100%;
    }

    header.header nav {
        display: none;
    }

    .hamburger-slim {
        display: inline-block;
    }

    .hamburger-slim {
        background: transparent;
        margin: 0;
        position: relative;
        height: 25px;
        width: 40px;
        position: absolute;
        right: 15px;
        top: 20px;

        &:before,
        &:after {
            background: #fff;
            backface-visibility: hidden;
            content: "";
            height: 2px;
            left: 0;
            transition: 0.75s;
            width: 40px;
        }

        &:before {
            box-shadow: #fff 0 12px 0 0;
            position: absolute;
            top: 0;
        }

        &:after {
            position: absolute;
            top: calc(100% - 2px);
        }

        &.active {

            &:before {
                box-shadow: transparent 0 0 0 0;
                top: 50%;
                transform: rotate(225deg);
            }

            &:after {
                top: 50%;
                transform: rotate(315deg);
            }
        }
    }


    .header {
        .container {
            position: relative;
        }

        .col-lg-8 {
            position: initial;
        }


    }

    header.header {
        height: 80px;

        img {
            max-width: 240px;
        }
    }

    .welcomescreen .welcomescreen__textbox .subtitle {
        max-width: calc(100% - 120px);
        margin: 0 auto 20px;
    }

    .welcomescreen .welcomescreen__textbox h1 {
        margin: 0 auto 60px;
        font-size: 38px;

        span {
            font-size: 22px;
        }
    }

    .welcomescreen .welcomescreen__textbox .welcomescreen__list li {
        display: block;

        &:after {
            position: relative;
            top: -1px;
            transform: none;
            right: initial;
            margin-left: 10px;
            display: inline-block !important;
            width: 8px;
            height: 8px;
        }

        &:before {
            content: "";
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #A90841;
            margin-right: 10px;
            width: 8px;
            height: 8px;
            top: -1px;
        }
    }

    .welcomescreen__socials {
        left: 15px !important;
    }

    .swiper-pagination-vertical.swiper-pagination-bullets,
    .swiper-vertical>.swiper-pagination-bullets {
        right: 15px !important;
    }

    .welcomescreen:after {
        display: none;
    }

    .meetcons {
        overflow: hidden;
    }

    .meetcons__photo:after {
        right: -60px;
        bottom: -100px;
        top: initial;
    }

    .meetcons__photo {
        margin-bottom: 30px;
    }

    .works .works__quote:after {
        left: -15px;
        top: -55px;
    }

    .works .works__quote:before {
        right: -15px;
        bottom: 10px;
        top: initial;
    }

    .workbox .textbox {
        padding: 15px 0 50px 0;
    }

    .works__bottbtn {
        margin-top: 20px;
    }

    .infosect__second .infosect__infbox:first-child:after {
        top: 64%;
    }

    .infosect.infosect__second {
        padding-bottom: 30px;
    }

    .footer__nav {
        // display: none;
    }

    header.header nav {
        display: block;
        position: fixed;
        bottom: 0;
        background: rgba(0, 0, 0, 0.9);
        left: 0;
        width: 100%;
        height: calc(100%);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 80px;
        transform: translateX(100%);
        transition: .5s;
        animation-timing-function: ease-in-out;

        ul {
            text-align: center;

            li {
                display: block;
                margin: 0 0 20px 0;

                a {
                    font-size: 22px;
                }
            }
        }

        &.show {
            transform: translateX(0);
        }
    }

    header.header img {
        z-index: 3;
        position: relative;
    }

    header.header nav ul li a:after {
        display: none !important;
    }

    .reversepostblock__wrapp {
        margin-top: 20px;
    }

    .reviews .swiper-slide {
        width: 80%;
    }

    .reviewbox .reviewbox__right .descr {
        font-weight: normal;
        font-size: 18px;
    }

    .reviewbox {
        padding: 30px;
    }

    .reviewbox .reviewbox__right .descr {
        margin-bottom: 30px;
    }

    .quote-section-img {
        padding: 70px 0 50px 0;
    }








    .reviews {
        padding-bottom: 70px;
    }


    .quote-section-img .description {
        font-size: 28px;
    }

    .quote-section-img .author {
        font-size: 16px;
    }

    .reviewbox .review__bottsect a {
        font-size: 14px;
    }
}

@media(max-width:575.8px) {
    .hamburger-slim {
        top: 50%;
        transform: translateY(-50%);
    }

    header.header img {
        max-width: 190px !important;
    }

    .welcomescreen__socials {
        display: none;
    }

    .swiper-pagination-vertical.swiper-pagination-bullets,
    .swiper-vertical>.swiper-pagination-bullets {
        display: none;
    }

    .welcomescreen .welcomescreen__textbox .subtitle {
        max-width: 100%;
        font-size: 16px;
    }

    .welcomescreen .welcomescreen__textbox h1 {
        max-width: 100%;
        font-size: 28px;
        line-height: 120%;
        margin-bottom: 50px;

        &:after {
            height: 4px;
            bottom: -30px;
        }
    }

    .welcomescreen .welcomescreen__textbox .redbtn {
        max-width: 220px;
    }

    .redbtn {
        min-height: 54px;
        font-size: 14px;
    }

    .welcomescreen {
        min-height: 550px;
    }

    .footer__logo img {
        max-width: 150px;
    }

    .welcomescreen .welcomescreen__textbox {
        padding-top: 80px;
    }

    .secials-mob {
        display: block;
    }

    header.header nav ul.secials-mob {
        padding-top: 0;
        margin-bottom: 0;
        margin-top: 50px;

        li {
            display: inline-block;
            margin: 0 10px;

            a {
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                justify-content: center;
                background: #A90841;
                width: 37px;
                height: 37px;
                border-radius: 50%;
            }
        }
    }

    header.header nav ul {
        margin-bottom: 20px;

        li {
            margin-bottom: 15px;

            a {
                font-size: 20px;
            }
        }
    }

    header.header nav ul li:last-child {
        margin-bottom: 0;
    }

    #totop {
        bottom: 50px;
        right: 20px;
    }

    .firstsection {
        padding-top: 80px;
        height: 260px;
    }

    .blog-item {
        height: 200px;
        margin-bottom: 20px;
    }

    .reversepostblock h4 {
        margin-bottom: 30px;

        &:after {
            bottom: -18px;
            width: 50px;
            height: 4px;
        }
    }

    .quote-section .descr {
        margin-bottom: 30px;
    }

    .quote-section .author:after {
        top: -16px;
    }

    .reversepostblock {
        margin-bottom: 50px;
    }

    h3 {
        margin-bottom: 20px;
    }

    .reviews .swiper-slide {
        width: 90%;
    }


    .reviewbox .reviewbox__right .descr {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .reviewbox {
        padding: 20px;
    }

    .quote-section-img .description {
        margin-bottom: 30px;
    }

    .quote-section-img .description:after {
        bottom: -19px;
    }










    .firstsection h1 {
        font-size: 32px;
    }

    h3 {
        font-size: 28px;
    }

    .reversepostblock h4 {
        font-size: 24px;
    }

    .quote-section-img .description {
        font-size: 21px;
    }

    .welcomescreen .welcomescreen__textbox h1 span {
        font-size: 18px;
    }

    .quote-section .descr {
        font-size: 16px;
    }

    .quote-section .author,
    .quote-section-img .author {
        font-size: 14px;
    }

    .reviewbox .review__bottsect .name,
    .reviewbox .review__bottsect a {
        font-size: 12px;
    }








    .quote-section .author:after,
    .welcomescreen .welcomescreen__textbox h1:after,
    .quote-section-img .description:after {
        width: 50px;
        height: 4px;
    }

    .redbtn {
        max-width: 240px;
        min-height: 50px;
        font-size: 12px;
    }

    .blogsection,
    .quote-section,
    .reversepostblocks {
        padding: 50px 0;
    }

    .reviews {
        padding-bottom: 50px;
    }

    .reversepostblocks {
        padding-bottom: 0;
    }

    #totop {
        bottom: 20px;
        width: 40px;
        height: 40px;
    }
}

@media(max-width:360.8px) {
    header.header {
        height: 60px !important;
    }

    .welcomescreen .welcomescreen__textbox h1 {
        font-size: 30px;
    }

    .welcomescreen .welcomescreen__textbox .welcomescreen__list li {
        margin: 0;
    }

    .welcomescreen .welcomescreen__textbox {
        padding-top: 60px;
    }

    .footer__botsect {
        flex-wrap: wrap;
    }

    footer.footer {
        padding-bottom: 20px;
    }

    .footer__socials ul li {
        margin-left: 5px;
    }

    .pagination ul li {
        margin: 0 8px;

        a {
            font-size: 16px;
        }
    }


    .quote-section-img .description p br {
        display: none;
    }






    .infosect .infosect__text p,
    .meetcons .title,
    .infosect__second h3,
    .testimonials .section-title,
    .infosect__green .descrbox h3 {
        font-size: 28px;
    }

    .testimonials .testimonials__slide .descr p {
        font-size: 16px;
    }
}

















@media(max-height:600px) and (min-width: 1025px) {
    .welcomescreen:after {
        height: 40px;
        bottom: -20px;
    }

    .welcomescreen .welcomescreen__textbox .subtitle {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .welcomescreen .welcomescreen__textbox h1 {
        // font-size: 52px;
        margin-bottom: 50px;
    }

    .welcomescreen .welcomescreen__textbox h1:after {
        bottom: -30px;
    }

    .welcomescreen .welcomescreen__textbox .welcomescreen__list {
        margin-bottom: 25px;
    }








}

@media(max-width:767.8px) and (max-height: 400px) {

    header.header nav {
        display: block;

        ul {
            padding-top: 50px;
        }

        .listwrapper {
            overflow: scroll;
            height: 100%;
            padding-bottom: 20px;
        }

    }






}

@media(max-width:820px) and (orientation: landscape) {
    .welcomescreen .welcomescreen__textbox .subtitle {
        margin-bottom: 15px;
    }


}